<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CArParkCustomerDetails"
        tools:targetApi="31" >
        <activity
            android:name="com.cihancelik.CarParkDetails.HR.hrEmpAssigments.HrEmpAssigments"
            android:exported="false" />
        <activity
            android:name="com.cihancelik.CarParkDetails.ledger.glJournalLines.GLJLViewScreen"
            android:exported="false" />
        <activity
            android:name="com.cihancelik.CarParkDetails.ledger.glJournalLines.GLJLMainScreen"
            android:exported="false" />
        <activity
            android:name="com.cihancelik.CarParkDetails.ledger.glJournals.GLJournalsViewScreen"
            android:exported="false" />
        <activity
            android:name="com.cihancelik.CarParkDetails.ledger.glJournals.GLJournalsMainScreen"
            android:exported="false" />
        <activity
            android:name="com.cihancelik.CarParkDetails.ledger.glPeriods.GLPeriodsViewScreen"
            android:exported="false" />
        <activity
            android:name="com.cihancelik.CarParkDetails.ledger.glPeriods.GLPeriodsMainScreen"
            android:exported="false" />
        <activity
            android:name="com.cihancelik.CarParkDetails.ledger.glAccountCombinations.GLACViewScreen"
            android:exported="false" />
        <activity
            android:name="com.cihancelik.CarParkDetails.ledger.glAccountCombinations.GLACMainScreen"
            android:exported="false" />
        <activity
            android:name="com.cihancelik.CarParkDetails.general.userUpdateScreen.UsersViewScreen"
            android:exported="false" />
        <activity
            android:name="com.cihancelik.CarParkDetails.general.addressesUpdateScreen.AddressesMainScreen"
            android:exported="false" />
        <activity
            android:name="com.cihancelik.CarParkDetails.general.addressesUpdateScreen.AddressViewScreen"
            android:exported="false" />
        <activity
            android:name="com.cihancelik.CarParkDetails.general.userUpdateScreen.UsersMainScreen"
            android:exported="false" />
        <activity
            android:name="com.cihancelik.CarParkDetails.general.GeneralViewPage"
            android:exported="false" />
        <activity
            android:name="com.cihancelik.CarParkDetails.receivable.ReceivableViewPage"
            android:exported="false" />
        <activity
            android:name="com.cihancelik.CarParkDetails.debt.DebtViewPage"
            android:exported="false" />
        <activity
            android:name="com.cihancelik.CarParkDetails.CRM.CRMViewPage"
            android:exported="false" />
        <activity
            android:name="com.cihancelik.CarParkDetails.ledger.LedgerViewPage"
            android:exported="false" />
        <activity
            android:name="com.cihancelik.CarParkDetails.purchasing.PurchasingViewPage"
            android:exported="false" />
        <activity
            android:name="com.cihancelik.CarParkDetails.firstscreen.Enterance"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>